<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451840474838-s1mjje1h5skbg3scnb6oh24vhb2hu40t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451840474838-s1mjje1h5skbg3scnb6oh24vhb2hu40t</string>
	<key>API_KEY</key>
	<string>AIzaSyC7G2f6hfLCvEqJh7ud9laeogFbBQ6rjmE</string>
	<key>GCM_SENDER_ID</key>
	<string>451840474838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olijujuangreen.OZLive</string>
	<key>PROJECT_ID</key>
	<string>ozlive-867e8</string>
	<key>STORAGE_BUCKET</key>
	<string>ozlive-867e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451840474838:ios:35fbdb237685fa1c245377</string>
</dict>
</plist>